@font-face{
    font-family: titulo;
    src: url(../imagens/to_hell_and_back.ttf);
}


p{
    text-align: center;
    font-size: 25px;
}
h2{
    text-align: center;
    font-family: titulo;
    font-size: 40px;
}


div{

    text-align:center;

}

form input{
    height: 30px;
    width: 300px;
    margin:5px;
    text-align:center;
}

form select {
    height: 30px;
    width: 300px;
    margin:5px;
    text-align:center;
}



div.texto{
    text-align: justify;
    margin: 80px 40px;
}

div#botao{
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
div#botao a{
    width:100px;

    text-align: center;
    text-decoration: none;
    border:1px solid black;
    color:red;
    background-color:rgb(255,0,255);
    padding:8px;
    transition: background-color 1s;

}

div#botao a:hover{
    background-color: #2F4F4F;

}



